#main {
    padding-top: 70px;
    height: 100%;
}

.todo {
    background-color: rgba(240,130,130,0.9);
    box-shadow: 3px 3px 3px rgba(200,50,50,0.6);
}
.todo .laneTitle {
    text-shadow: 0 0 2px red;
}

.doing {
    background-color: rgba(230,231,130,0.9);
    box-shadow: 3px 3px 3px rgba(200,200,50,0.6);
}
.doing .laneTitle {
    text-shadow: 0 0 2px rgb(185,185,0);
}

.done {
    background-color: rgba(180,250,180,0.9);
    box-shadow: 3px 3px 3px rgba(80,200,80,0.6);
}
.done .laneTitle {
    text-shadow: 0 0 1px green;
}

.taskManager {
    background-color: rgba(180,200,250,0.9);
    box-shadow: 3px 3px 3px rgba(70,90,210,0.6);
}
.taskManager .laneTitle {
    text-shadow: 0 0 1px blue;
}

#taskAdder {
    margin: 2.5%;
}
.taskManager fieldset {
    border: 1px solid #474747;
    padding: 0 3px 3px 3px;
    border-radius: 3px;
}

.titleInput {
    height: 30px;
}
#titleInput {
    padding: 5px 10px !important;
    height: 25px;
}

.deadlineInput {
    height: 30px;
}
#deadlineInput {
    padding: 5px 10px !important;
    height: 25px;
}

#contentInput {
    min-height: 100px !important;
    max-height: 350px;
    overflow: auto !important;
    /*overflow-x: hidden !important;*/
}

.adderButtons {
    background-color: rgba(250,250,250,0.5);
    width: 100%;
    border-radius: 2px;
    box-shadow: 0 0 2px rgba(70,90,210,0.6);
    margin-top: 5px;
    outline: none;
    cursor: pointer;
    height: 20px;
}
.adderButtons:hover {
    box-shadow: 0 0 4px blue;
}
.adderButtons:active {
    background-color: rgba(250,250,250,0.3);
}

#clearAllTasks {
    outline: none;
    cursor: pointer;
    background-color: rgba(250,250,250,0.5);
    width: 93%;
    border-radius: 2px;
    box-shadow: 0 0 2px rgba(70,90,210,0.6);
    margin: 8px 3.5%;
    height: 20px;
}
#clearAllTasks:hover {
    background-color: rgba(250,100,100,0.7);
    box-shadow: 0 0 4px red;
}
#clearAllTasks:active {
    background-color: rgba(250, 100, 100, 0.9);
}
