.resetButton {
    background-color: #e5e379;
    border: 2px solid #e5e379;
    color: #fff;
}

.resetButton:hover {
    background-color: #f5f388;
    border: 2px solid #f5f388;
}

.resetButton:active {
    background: #e6e47a;
    border: 2px solid #e6e47a;
}


.resetPasswordToSignIn, .resetPasswordToSignUp {
    border: 2px solid #e5e379;
    color: #e5e379;
}

.resetPasswordToSignIn:hover, .resetPasswordToSignUp:hover {
    color: #f5f388;
    border: 2px solid #f5f388;
}

.resetPasswordToSignIn:active, .resetPasswordToSignUp:active {
    color: #e5e379;
    border: 2px solid #e5e379;
}