.signUpButton {
    background-color: #a6f29a;
    border: 2px solid #a6f29a;
    color: #fff;
}

.signUpButton:hover {
    background-color: #affda3;
    border: 2px solid #affda3;
}

.signUpButton:active {
    background: #9ee794;
    border: 2px solid #9ee794;
}


.signUpToSignIn, .signUpToSignUp {
    border: 2px solid #a6f29a;
    color: #a6f29a;
}

.signUpToSignIn:hover, .signUpToSignUp:hover {
    color: #affda3;
    border: 2px solid #affda3;
}

.signUpToSignIn:active, .signUpToSignUp:active {
    color: #9ee794;
    border: 2px solid #9ee794;
}