.taskLane {
    float: left;
    width: 23%;
    margin-left: 1.5%;
    min-height: 70px;
    border-radius: 6px;
    min-width: 93px;
}
.laneTitle {
    width: 100%;
    font-size: 1.3em;
    text-align: center;
    margin-top: 10px;
    color: white;
}

.nothingToShow {
    font-size: 1.3em;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.35);
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

/******************************************************************/

/*tools:*/

.hiddenTools {
    height: 0;
    width: 0;
}

.hiddenMenuButton {
    height: 20px;
    width: 20px;
    position: relative;
    left: 3px;
    top: -25px;
    padding: 2px;
    border-radius: 2px;
    cursor: pointer;
    background-color: transparent;
}
.hiddenMenuButton:hover {
    background: rgba(0,0,0, 0.2);
}
.hiddenMenuButton:active {
    background: rgba(0,0,0, 0.4);
}
.menu {
    background: rgba(255,255,255,0.9);
    width: 320px;
    padding: 5px 10px;
    position: relative;
    top: -10px;
    border-radius: 3px;
    box-shadow: 0 0 4px rgba(185, 185, 185, 0.84);
}
.menu::after {
    content: "";
    height: 0;
    width: 0;
    bottom: 100%;
    left: 3px;
    position: absolute;
    border-style: solid;
    border-color: transparent transparent rgba(255,255,255,0.9);
    border-width: 12px;
}

.menuItemLabel {
    font-weight: bold;
}
.subControllers {
    padding-left: 10px;
}
.divider {
    margin:15px 0;
}

.sortBySelector, .dueTimeStart, .dueTimeEnd {
    width: 90%;
}


/****************************************/

/*every task:*/
.task {
    background-color: rgba(250,250,250,0.6);
    width: 96%;
    margin: 5% 2%;
    border-radius: 6px;
    font-size: 0.95em;
    padding-bottom: 21px;
}
.task:hover {
    background-color: rgba(250,250,250,0.7);
    box-shadow: 0 0 5px white;
}
.taskCounter {
    font-size: 0.9em;
    text-align: right;
    line-height: 55px;
    margin-right: 3px;
    font-weight: bold;
    color: rgba(10,10,10,0.65);
}

.items {
    margin: 1px 5px;
    line-height: 1.4em;
    word-break: break-word;
    color: #2b2b2b;
}
.taskTitle {
    font-weight: bold;
    font-size: 1.3em;
    padding-top: 5px;
}
.taskDeadline {
    font-size: 0.9em;
    color: rgba(68, 68, 68, 0.78);
}
.taskContent {
    padding-top: 5px;
}

.task hr {
    height: 1px;
    border-bottom: 1px solid rgba(162, 162, 162, 0.69);
    width: 98%;
    margin-left: 1%;
}

.deleteTaskButton, .nextStateButton, .previousStateButton {
    width: 15px;
    height: 15px;
    margin: 3px;
    transition: 0.1s;
    float: right;
    cursor: pointer;
}

.taskButtons {
    height: 10px;
}

.deleteTaskButton, .nextStateButton, .previousStateButton {
    width: 15px;
    height: 15px;
    margin: 7px;
    transition: 0.1s;
    float: right;
    cursor: pointer;
}
.deleteTaskButton:hover, .nextStateButton:hover, .previousStateButton:hover {
    transform: scale(1.3);
}