.userInfo {
    width: 0;
    height: 0;
    position: absolute;
    top: 10px;
    left: 95%;
}

.userInfoImg {
    cursor: pointer;
    border: 2px solid #2b2b2b;
    z-index: 26;
}

.userInfoImg:hover {
    border: 2px solid #626262;
}

.userInfoImg:active {
    box-shadow: 0 0 5px white;
}


#userInfoDetailsWrap {
    position: relative;
    left: -1441px;
    top: -55px;
    z-index: 19;
}

.userInfoDetails {
    width: 170px;
    background: rgba(255, 141, 141, 0.2);
    animation: userInfoDetailsBgColor 60s infinite;
    position: relative;
    left: 1310px;
    top: 70px;
    border-radius: 5px;
    padding: 7px;
    color: #505050;
    box-shadow: 0 0 3px #aeaeae;
    z-index: 25;
}
.userInfoDetails::after {
    content: "";
    height: 0;
    bottom: 100%;
    left: 140px;
    position: absolute;
    width: 0;
    border-style: solid;
    border-color: transparent transparent rgba(255, 141, 141, 0.2);
    animation: userInfoDetailsBorderColor 60s infinite;
    border-image: initial;
    border-width: 12px;
}

@keyframes userInfoDetailsBgColor {
    0% {
        background-color: rgb(255, 174, 172);
    }
    25% {
        background-color: rgb(254, 255, 144);
    }

    50% {
        background-color: rgb(184, 255, 184);
    }

    75% {
        background-color: rgb(183, 205, 255);
    }

    100% {
        background-color: rgb(255, 174, 172);
    }
}

@keyframes userInfoDetailsBorderColor {
    0% {
        border-bottom-color: rgb(255, 174, 172);
    }
    25% {
        border-bottom-color: rgb(254, 255, 145);
    }

    50% {
        border-bottom-color: rgb(184, 255, 184);
    }

    75% {
        border-bottom-color: rgb(183, 205, 255);
    }

    100% {
        border-bottom-color: rgb(255, 174, 172);
    }
}


.userInfoDetails hr {
    height: 1px;
    border-top: 1px solid rgba(169, 169, 169, 0.69);
    margin-top: 5px;
    margin-bottom: 5px;
}

.userInfoName {
    font-weight: bold;
    font-size: 1.4em;
}

.funcButton {
    font-size: 1.1em;
    cursor: pointer;
    margin: 7px 0;
    vertical-align: bottom;
}
.funcButton:hover {
    text-decoration: underline;
}

.funcButtonImg {
    display: inline-block;
    height: 13px;
    margin-right: 4px;
}

.react-confirm-alert-overlay {
    z-index: 101;
    background-color: rgba(0, 0, 0, 0.76);
}

.react-confirm-alert {
    width: 25%;
}
.userInfoConfirm {
    border: 1px solid #2b2b2b;
    border-radius: 7px;
    position: relative;
    top: -70px;
    padding-bottom: 45px;
    background-color: white;
}
.userInfoConfirm h2 {
    background: #2b2b2b;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    color: white;
    padding: 5px;
    position: relative;
    top: -1px;
}
.userInfoConfirm p {
    width: 95%;
    padding: 15px 5px;
    min-height: 30px;
    font-size: 1.2em;
    line-height: 1.5em;
    margin-left: 2.5%;
}
.userInfoConfirm button {
    width: 75px;
    margin: 5px;
    cursor: pointer;
    float: right;
}
