#top {
    background-color: #2b2b2b;
    width: 100%;
    height: 350px;
    padding-top: 50px;
    vertical-align: top;
}


#logoImg {
    margin-left: 10%;
    height: 85%;
    display: inline-block;
    vertical-align:middle
}

#welcome {
    margin-left: 5%;
    display: inline-block;
    vertical-align: middle;
    width: 610px;
}

#title {
    text-align: left;
    font-size: 80px;
}

.signUpHomeButton {
    color: white;
    width: 150px;
}
.signUpHomeButton:active {
    color: #D2D2D2;
    border: 2px solid #D2D2D2;
}

.signInHomeButton {
    background-color: white;
    color: #2b2b2b;
    width: 150px;
}
.signInHomeButton:active {
    background-color: #D2D2D2;
    border: 2px solid #D2D2D2;
}

.myTasksHomeButton {
    background-color: white;
    color: #2b2b2b;
    width: 250px;
}
.myTasksHomeButton:active {
    background-color: #D2D2D2;
    border: 2px solid #D2D2D2;
}

.homeButtons {
    margin-top: 50px;
    margin-right: 15px;
    margin-left: 7px;
    height: 40px;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid white;
    font-size: 35px;
    font-weight: bold;
    padding: 5px;
    text-align: center;
}
.homeButtons:hover {
    box-shadow: 0 0 10px white;
}

